name: Deploy to EC2

on:
  push:
    branches:
      - master
      
jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
      # Step 1: Server par latest code checkout karein
      - name: Checkout Code
        uses: actions/checkout@v4
        
      # Step 2: Node.js ka environment set up karein
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          cache: 'npm'
          
      # Step 3: Deployment script ko executable banayein aur chalayein
      - name: Run Deployment Script
        run: |
          chmod +x ./deploy.sh
          ./deploy.sh
